.company-formation-text {
    width: 60%;
    margin: 20px auto;
    color: #56595c;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}
.company-formation-text h1 {
    color: #0580c6;
    text-align: center;
    margin: 30px auto;
}

.company-formation-text h3 {
    color: #0580c6;
    margin: 30px auto;
}
.company-formation-text li {
    margin: 20px auto;
}
@media only screen and (max-width: 768px){
    .company-formation-text {
        width: 80%;
    }
}