.contact-container {
  text-align: center;
  padding: 5% 10%;
}
.contact-head {
  padding-bottom: 20px;
  position: relative;
}
.contact-head > h1 {
  font-weight: 800;
  font-size: 34px;
  color: #0580c6;
  margin: 0 auto;
}
.contact-head::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  background-color: #6aa323;
  width: 50px;
  height: 6px;
}
.contact-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.contact-map-div {
  padding-right: 20px;
}
.contact-form-div {
  padding: 2% 5%;
  border-radius: 0 !important;
}
.contact-map-div iframe {
  width: 600px;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .contact-div {
    flex-direction: column;
  }
  .contact-map-div {
    padding: 0;
    width: 100%;
  }
  .contact-map-div iframe {
    width: 100%;
    height: 60%;
  }
}